@model Fundacion.Models.Subespacio

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar asignació</h1>

<h3>Está a punto de eliminar una asignación para el espacio. ¿Desea continuar?</h3>
<div>
    <h4>Asginación</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeDia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeDia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeHora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeHora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeCantHs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeCantHs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Au)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Au.AuId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Es)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Es.EsId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="SeId" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-action="IndexById" asp-controller="Subespacios" asp-route-id="EsId" class="btn btn-outline-danger m-1" style="margin-top:20px">Volver</a>
    </form>
</div>
