@model Fundacion.Models.Subespacio

@{
    ViewData["Title"] = "Eliminar asignació";
}

<h1>Eliminar asignación</h1>

<h4>Está a punto de eliminar una asignación de  @Html.DisplayFor(model => model.Es.EsDescripcion)</h4>
<h4>¿Desea continuar?</h4>
<div>    
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeDia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeDia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeHora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeHora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeCantHs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeCantHs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Au)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Au.AuId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Es)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Es.EsId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="SeId" />
        <input type="submit" value="Eliminar" class="btn btn-outline-danger" />
        <a asp-action="IndexById" asp-controller="Subespacios" asp-route-id="EsId" class="btn btn-outline-primary m-1" style="margin-top:20px">Volver</a>
    </form>
</div>
