@model Fundacion.Models.Subespacio

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Subespacio</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeDia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeDia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeHora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeHora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeCantHs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeCantHs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Au)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Au.AuId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Es)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Es.EsId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
