@model IEnumerable<Subespacio>

@{
    ViewData["Title"] = "Asignaciones de espacios";
}

<head>
    <link rel="stylesheet" href="~/css/btn-volver/styles.css" />
</head>

@*<button class="" type="button" style="border:none;background-color:transparent;margin:20px;" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions" title="Menú"><img src="~/assets/inicio/volver.png" width="40px" /></button>

<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Navegacion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">

        <a asp-area="" asp-controller="Asistencias" asp-action="Index">
            <div class="col col1"><h3>Asistencias</h3><img src="./assets/inicio/lista-de-verificacion.png" /></div>
        </a>
        <a asp-area="" asp-controller="Turno" asp-action="Index">
            <div class="col"><h3>Turnos</h3><img src="./assets/inicio/turnos.png" width="64" /></div>
        </a>
        <a asp-area="" asp-controller="Categorias" asp-action="Index">
            <div class="col"> <h3>Categorias</h3> <img src="./assets/inicio/aplicacion.png" /></div>
        </a>
        <a asp-area="" asp-controller="Espacios" asp-action="Index" class="visually-hidden">
            <div class="col"> <h3>Espacios</h3>  <img src="./assets/inicio/ruptura.png" /></div>
        </a>
        <a asp-area="" asp-controller="Roles" asp-action="Index">
            <div class="col"> <h3>Roles</h3> <img src="./assets/inicio/roles.png" /></div>
        </a>
        <a asp-area="" asp-controller="Aulas" asp-action="Index">
            <div class="col"><h3>Aulas</h3>  <img src="./assets/inicio/aula.png" /></div>
        </a>
        <a asp-area="" asp-controller="Usuarios" asp-action="Index">
            <div class="col"> <h3>Usuarios</h3>  <img src="./assets/inicio/grupo.png" /></div>
        </a>
    </div>
</div>*@

<a asp-action="Index" class="btn btn-sm" asp-controller="Espacios" title="Volver a espacios">
    <img src="~/assets/icons/flecha-hacia-atras.png" style="border:none;background-color:transparent;margin:20px;" width="40" />
</a>

<h1>Espacio de Asignaciones</h1>

<table id="tablas" class="table">
    <thead>
        <tr>            
            <th>
                @Html.DisplayNameFor(model => model.SeDia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeHora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeCantHs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuId)
            </th>            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>            
            <td>
                @Html.DisplayFor(modelItem => item.SeDia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeHora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeCantHs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Au.AuDescripcion)
            </td>            
            <td width="100px">
                    <a class="btn btn-sm mb-1" asp-action="Delete" asp-route-id="@item.SeId" title="Borrar">
                        <img width="20px" src="~/assets/icons/borrar.png" />
                    </a>
            </td>
        </tr>
}
    </tbody>
</table>
