@model IEnumerable<Fundacion.Models.Aula>

@{
    ViewData["Title"] = "Aula";
}

<head>
    <link rel="stylesheet" href="~/css/btn-volver/styles.css" />
</head>

<button class="" type="button" style="border:none;background-color:transparent;margin:20px;" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions" title="Menú"><img src="./assets/inicio/volver.png" width="40px" /></button>

<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Navegacion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">


        <a asp-area="" asp-controller="Asistencias" asp-action="Index">
            <div class="col col1"><h3>Asistencias</h3><img src="./assets/inicio/ausencia.png" width="50" /></div>
        </a>
        <a asp-area="" asp-controller="Turno" asp-action="Index">
            <div class="col"><h3>Turnos</h3><img src="./assets/inicio/turnos.png" width="50" /></div>
        </a>
        <a asp-area="" asp-controller="Categorias" asp-action="Index">
            <div class="col"> <h3>Categorias</h3> <img src="./assets/inicio/categoria (1).png" width="50" /></div>
        </a>
        <a asp-area="" asp-controller="Espacios" asp-action="Index">
            <div class="col"> <h3>Espacios</h3>  <img src="./assets/inicio/ruptura.png" width="50" /></div>
        </a>
        <a asp-area="" asp-controller="Roles" asp-action="Index">
            <div class="col"> <h3>Roles</h3> <img src="./assets/inicio/engranaje.png" width="50" /></div>
        </a>
        <a asp-area="" asp-controller="Aulas" asp-action="Index" class="visually-hidden">
            <div class="col"><h3>Aulas</h3>  <img src="./assets/inicio/aula2.png" width="50" /></div>
        </a>
        <a asp-area="" asp-controller="Usuarios" asp-action="Index">
            <div class="col"> <h3>Usuarios</h3>  <img src="./assets/inicio/equipo.png" width="50" /></div>
        </a>
    </div>
</div>

<h1>Listado de Aulas</h1>

<p>
    <a asp-action="Create" class="btn btn-success btn-sm">Agregar nueva aula</a>
</p>
<table id="tablas" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AuDescripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AuDescripcion)
            </td>
            <td>
                    <a asp-action="Edit" class="btn btn-warning btn-sm mb-1" asp-route-id="@item.AuId">Modificar</a> |
                    <a asp-action="Details" class="btn btn-primary btn-sm mb-1" asp-route-id="@item.AuId">Detalles</a> |
                    <a asp-action="Delete" class="btn btn-danger btn-sm mb-1" asp-route-id="@item.AuId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>

<style>
    .offcanvas {
        width: 250px;
    }

    a {
        text-decoration: none;
        color: black;
    }

    h3 {
        display: flex;
        font-size: larger;
        text-align: start;
        align-content: center;
        align-items: center;
    }

    .col {
        display: flex;
        margin-bottom: 20px;
        justify-content: space-between;
        align-items: center;
        width: 200px;
        flex-direction: column;
</style>