@model IEnumerable<Fundacion.Models.Aula>

@{
    ViewData["Title"] = "Aula";
}

<h1>Aulas</h1>

<p>
    <a asp-action="Create">Crear nueva aula</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AuDescripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AuDescripcion)
            </td>
            <td>
                <a class="btn btn-warning btn-sm mb-1" asp-action="Edit" asp-route-id="@item.AuId">Editar</a>
                <a class="btn btn-primary btn-sm mb-1" asp-action="Details" asp-route-id="@item.AuId">Detalle</a>
                <a class="btn btn-danger btn-sm mb-1" asp-action="Delete" asp-route-id="@item.AuId">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
