@model Fundacion.Models.Usuario

@{
    ViewData["Title"] = "Borrar";
}

<h1>Borrar</h1>

<h3>Está a punto de eliminar al siguiente usuario ¿Desea continuar?</h3>
<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsDni)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsDni)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsApellido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsApellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsDireccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsDireccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsLocalidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lc.LcDescripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsProvincia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pv.PvDescripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsTelefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsTelefono)
        </dd>        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsActivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsActivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ro.RoDenominacion)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="UsId" />
        <input type="submit" value="Eliminar" class="btn btn-outline-danger" /> 
        <a asp-action="Index" class="btn btn-ouline-primary">Volver</a>
    </form>
</div>
