@model Fundacion.Models.Usuario

@{
    ViewData["Title"] = "Detalle";
}

<h1>Detalle</h1>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsDni)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsDni)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsApellido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsApellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsDireccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsDireccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsLocalidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lc.LcDescripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsProvincia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pv.PvDescripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsTelefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsTelefono)
        </dd>        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsActivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsActivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ro.RoDenominacion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.UsId" class="btn btn-warning">Modificar</a>
    <a asp-action="Index" class="btn btn-primary">Volver</a>
</div>
