@model IEnumerable<Fundacion.Models.Usuario>

@{
    ViewData["Title"] = "Usuarios";
}
<head>
    <link rel="stylesheet" href="~/css/btn-volver/styles.css" style="margin: 20px 0px;" />
</head>

@if (User.IsInRole("Super Admin") || User.IsInRole("Admin")){
    <button class="" type="button" style="border:none;background-color:transparent;margin:20px;" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions" title="Menú"><img src="./assets/inicio/volver.png" width="40" /></button>
}
@if (User.IsInRole("Usuario"))
{
    <a asp-area="" asp-controller="inicio" asp-action="Index">
        <div><h3>Volver</h3></div>
    </a>
}
<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Menu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">


        <a asp-area="" asp-controller="Asistencias" asp-action="Index">
            <div class="col col1"><h3>Asistencias</h3><img src="./assets/inicio/ausencia.png" width="50" /></div>
        </a>
        <a asp-area="" asp-controller="Turno" asp-action="Index">
            <div class="col"><h3>Turnos</h3><img src="./assets/inicio/turnos.png" width="50" /></div>
        </a>
        <a asp-area="" asp-controller="Categorias" asp-action="Index">
            <div class="col"> <h3>Categorias</h3> <img src="./assets/inicio/categoria (1).png" width="50" /></div>
        </a>
        <a asp-area="" asp-controller="Espacios" asp-action="Index">
            <div class="col"> <h3>Espacios</h3>  <img src="./assets/inicio/ruptura.png" width="50" /></div>
        </a>
        <a asp-area="" asp-controller="Roles" asp-action="Index">
            <div class="col"> <h3>Roles</h3> <img src="./assets/inicio/engranaje.png" width="50" /></div>
        </a>
        <a asp-area="" asp-controller="Aulas" asp-action="Index">
            <div class="col"><h3>Aulas</h3>  <img src="./assets/inicio/aula2.png" width="50" /></div>
        </a>
        <a asp-area="" asp-controller="Usuarios" asp-action="Index" class="visually-hidden">
            <div class="col"> <h3>Usuarios</h3>  <img src="./assets/inicio/equipo.png" width="50" /></div>
        </a>
    </div>
</div>


<h1>Listado de usuarios</h1>
<p>
    <a asp-action="Create" class="btn btn-sm" title="Cargar usuario">
        <img width="60px" src="~/assets/icons/boton-agregar.png" />
    </a>
</p>
@*<div class="table-responsive">*@
    <table id="tablas" class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UsDni)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UsApellido)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UsNombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UsDireccion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UsLocalidad)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UsEmail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UsTelefono)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.UsActivo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RoId)
                </th>*@
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UsDni)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UsApellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UsNombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UsDireccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lc.LcDescripcion)
                </td>
                <td class="text-nowrap">
                    @Html.DisplayFor(modelItem => item.UsEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UsTelefono)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.UsActivo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ro.RoDenominacion)
                </td>*@
                    <td class="d-flex justify-content-between">
                        <a class="btn btn-sm mb-1" title="Editar" asp-action="Edit" asp-route-id="@item.UsId">
                            <img width="20px" src="~/assets/icons/editar.png" />
                        </a>
                        <a class="btn btn-sm mb-1" title="Detalle" asp-action="Details" asp-route-id="@item.UsId">
                            <img width="20px" src="~/assets/icons/documento.png" />
                        </a>
                       @* <a class="btn btn-sm mb-1" title="Borrar" asp-action="Delete" asp-route-id="@item.UsId">
                            <img width="20px" src="~/assets/icons/borrar.png" />
                        </a>*@
                </td>
            </tr>
    }
        </tbody>
    </table>
@*</div>*@
<style>
    .offcanvas {
        width: 150px;
    }

    a {
        text-decoration: none;
        color: black;
    }

    h3 {
        display: flex;
        font-size: larger;
        text-align: start;
        align-content: center;
        align-items: center;
    }

    .col {
        display: flex;
        margin-bottom: 20px;
        justify-content: space-between;
        align-items: center;
        width: 80px;
        flex-direction: column;
    }
    }
</style>
