@model IEnumerable<Fundacion.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h1>Índice</h1>

<p>
    <a asp-action="Create">Crear usuario</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.UsApellido)*@
                Apellido
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.UsNombre)*@
                Nombres
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.UsDireccion)*@
                Dirección
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.UsLocalidad)*@
                Localidad
            </th>            
            <th>
                @*@Html.DisplayNameFor(model => model.UsEmail)*@
                Email
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.UsTelefono)*@
                Teléfono
            </th>            
            <th>
                @*@Html.DisplayNameFor(model => model.UsActivo)*@
                Habilitado / Deshabilitado
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Ro)*@
                Roles
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UsApellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsDireccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsLocalidad)
            </td>           
            <td>
                @Html.DisplayFor(modelItem => item.UsEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsTelefono)
            </td>            
            <td>
                @Html.DisplayFor(modelItem => item.UsActivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ro.RoId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UsId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.UsId">Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.UsId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
