@model IEnumerable<Fundacion.Models.Usuario>

@{
    ViewData["Title"] = "Usuarios";
}

<h1>Usuarios</h1>

<p>
    <a asp-action="Create">Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                DNI
            </th>
            <th>
                Apellido
            </th>
            <th>
                Nombres
            </th>
            <th>
                Dirección
            </th>
            <th>
                Localidad
            </th>
            <th>
                Email
            </th>
            <th>
                Teléfono
            </th>
            <th>
                Activo
            </th>
            <th>
                Rol
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UsDni)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsApellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsDireccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsLocalidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsTelefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsActivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ro.RoDenominacion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UsId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.UsId">Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.UsId">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
