@model IEnumerable<Fundacion.Models.Categoria>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/btn-volver/styles.css" />
</head>

<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">Volver</button>

<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Navegacion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">


        <a asp-area="" asp-controller="Asistencias" asp-action="Index">
            <div class="col col1"><h3>Asistencias</h3><img src="./assets/inicio/ausencia.png" width="50" /></div>
        </a>
        <a asp-area="" asp-controller="Turno" asp-action="Index">
            <div class="col"><h3>Turnos</h3><img src="./assets/inicio/turnos.png" width="64" /></div>
        </a>
        <a asp-area="" asp-controller="Categorias" asp-action="Index" class="visually-hidden">
            <div class="col"> <h3>Categorias</h3> <img src="./assets/inicio/categoria (1).png" width="50" /></div>
        </a>
        <a asp-area="" asp-controller="Espacios" asp-action="Index">
            <div class="col"> <h3>Espacios</h3>  <img src="./assets/inicio/ruptura.png" width="50" /></div>
        </a>
        <a asp-area="" asp-controller="Roles" asp-action="Index">
            <div class="col"> <h3>Roles</h3> <img src="./assets/inicio/engranaje.png" width="50" /></div>
        </a>
        <a asp-area="" asp-controller="Aulas" asp-action="Index">
            <div class="col"><h3>Aulas</h3>  <img src="./assets/inicio/aula2.png" width="50" /></div>
        </a>
        <a asp-area="" asp-controller="Usuarios" asp-action="Index">
            <div class="col"> <h3>Usuarios</h3>  <img src="./assets/inicio/equipo.png" width="50" /></div>
        </a>
    </div>
</div>

<h1>Listado de Categorías</h1>

<p>
    <a class="btn btn-success btn-sm" asp-action="Create">Agregar Categoría</a>
</p>
<table id="tablas" class="table">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Valor/Hora
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CaDescripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CaValorHora)
            </td>
            <td>
                <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@item.CaId">Modificar</a>
                <a class="btn btn-primary btn-sm" asp-action="Details" asp-route-id="@item.CaId">Detalles</a>
                @*<a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.CaId">Eliminar</a>*@
            </td>
        </tr>
}
    </tbody>
</table>

<style>
    .offcanvas {
        width: 250px;
    }

    a {
        text-decoration: none;
        color: black;
    }

    h3 {
        display: flex;
        font-size: larger;
        text-align: start;
        align-content: center;
        align-items: center;
    }

    .col {
        display: flex;
        margin-bottom: 20px;
        justify-content: space-between;
        align-items: center;
        width: 200px;
        flex-direction: column;
    }
</style>
