@model Fundacion.Models.Espacio

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>

<h4>Desea eliminar el espacio @Html.DisplayFor(model => model.EsDescripcion)?</h4>
<div>
    <h4></h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.EsDescripcion)*@
            Descripcion
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EsDescripcion)
        </dd>
        <dt class="col-sm-2">
            @* @Html.DisplayNameFor(model => model.EsActivo)*@
            Activo
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EsActivo)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Ca)*@
            Categoria
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ca.CaDescripcion)
        </dd>
        <dt class="col-sm-2">
            @* @Html.DisplayNameFor(model => model.Tu)*@
            Turno
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tu.TuDescripcion)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Us)*@
            Docente
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Us.UsNombre) @Html.DisplayFor(model => model.Us.UsApellido)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="EsId" />
        <input type="submit" value="Eliminar" class="btn btn-outline-danger" />
        <a asp-action="Index" class="btn btn-outline-primary">Volver</a>
    </form>
</div>
