@model IEnumerable<Fundacion.Models.Espacio>

@{
    ViewData["Title"] = "Espacios";
}

<head>
    <link rel="stylesheet" href="~/css/btn-volver/styles.css" />
</head>

<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">Volver</button>

<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Navegacion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">


        <a asp-area="" asp-controller="Asistencias" asp-action="Index">
            <div class="col col1"><h3>Asistencias</h3><img src="./assets/inicio/ausencia.png" width="50" /></div>
        </a>
        <a asp-area="" asp-controller="Turno" asp-action="Index">
            <div class="col"><h3>Turnos</h3><img src="./assets/inicio/turnos.png" width="50" /></div>
        </a>
        <a asp-area="" asp-controller="Categorias" asp-action="Index">
            <div class="col"> <h3>Categorias</h3> <img src="./assets/inicio/categoria (1).png" width="50" /></div>
        </a>
        <a asp-area="" asp-controller="Espacios" asp-action="Index" class="visually-hidden">
            <div class="col"> <h3>Espacios</h3>  <img src="./assets/inicio/ruptura.png" width="50" /></div>
        </a>
        <a asp-area="" asp-controller="Roles" asp-action="Index">
            <div class="col"> <h3>Roles</h3> <img src="./assets/inicio/engranaje.png" width="50" /></div>
        </a>
        <a asp-area="" asp-controller="Aulas" asp-action="Index">
            <div class="col"><h3>Aulas</h3>  <img src="./assets/inicio/aula2.png" width="50" /></div>
        </a>
        <a asp-area="" asp-controller="Usuarios" asp-action="Index">
            <div class="col"> <h3>Usuarios</h3>  <img src="./assets/inicio/equipo.png" width="50" /></div>
        </a>
    </div>
</div>

<h1>Listado de Espacios</h1>

<p>
    <a asp-action="Create" class="btn btn-sm" title="Crear nuevo Espacio">
        <img width="60px" src="~/assets/icons/boton-agregar.png" />
    </a>
</p>
<table id="tablas" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EsDescripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EsActivo)
                
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ca)                
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tu)                
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Us)                
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EsDescripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EsActivo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ca.CaDescripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tu.TuDescripcion)
                </td>
                <td>
                    (@Html.DisplayFor(modelItem => item.Us.UsDni)) @Html.DisplayFor(modelItem => item.Us.UsApellido), @Html.DisplayFor(modelItem => item.Us.UsNombre)
                </td>
                <td>                    
                    <a asp-action="RedirectToCreateByIdEspacio" class="btn btn-outline-primary btn-sm mb-1" asp-route-id="@item.EsId" asp-controller="Espacios">Asignar días</a>
                    <a asp-action="RedirectToDetailsByEsId" class="btn btn-primary btn-sm mb-1" asp-route-esId="@item.EsId" asp-controller="Espacios">Detalle</a>
                    
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-warning btn-sm mb-1" asp-route-id="@item.EsId" title="Modificar espacio">
                        <img width="20px" src="~/assets/icons/editar.png" />
                    </a>
                    @*<a asp-action="Delete" class="btn btn-danger btn-sm mb-1" asp-route-id="@item.EsId" title="Eliminar espacio">
                        <img width="20px" src="~/assets/icons/borrar.png" />
                    </a>*@
                </td>
            </tr>
        }
    </tbody>
</table>

<style>
    .offcanvas {
        width: 250px;
    }

    a {
        text-decoration: none;
        color: black;
    }

    h3 {
        display: flex;
        font-size: larger;
        text-align: start;
        align-content: center;
        align-items: center;
    }

    .col {
        display: flex;
        margin-bottom: 20px;
        justify-content: space-between;
        align-items: center;
        width: 200px;
        flex-direction: column;
    }
</style>

