@model IEnumerable<Fundacion.Models.Asistencia>

@{
    ViewData["Title"] = "Asistencia";

}
<head>
    <link rel="stylesheet" href="~/css/btn-volver/styles.css" style="margin: 20px 0px;" />
</head>

@if (User.IsInRole("Super Admin") || User.IsInRole("Admin"))
{
    <button class="" type="button" style="border:none;background-color:transparent;margin:20px;" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions" title="Menú"><img src="./assets/inicio/volver.png" width="40px" /></button>
}
@if (User.IsInRole("Usuario"))
{
    <a asp-area="" asp-controller="inicio" asp-action="Index">
        <img src="./assets/inicio/volver.png" style="border:none;background-color:transparent;margin:20px;" width="40"/>
    </a>
}

<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Navegacion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <a asp-area="" asp-controller="Asistencias" asp-action="Index" class="visually-hidden">
            <div class="col col1"><h3>Asistencias</h3><img src="./assets/inicio/ausencia.png" width="50" /></div>
        </a>
        <a asp-area="" asp-controller="Turno" asp-action="Index">
            <div class="col"><h3>Turnos</h3><img src="./assets/inicio/turnos.png" width="50" /></div>
        </a>
        <a asp-area="" asp-controller="Categorias" asp-action="Index">
            <div class="col"> <h3>Categorias</h3> <img src="./assets/inicio/categoria (1).png" width="50" /></div>
        </a>
        <a asp-area="" asp-controller="Espacios" asp-action="Index">
            <div class="col"> <h3>Espacios</h3>  <img src="./assets/inicio/ruptura.png" width="50" /></div>
        </a>
        <a asp-area="" asp-controller="Roles" asp-action="Index">
            <div class="col"> <h3>Roles</h3> <img src="./assets/inicio/engranaje.png" width="50" /></div>
        </a>
        <a asp-area="" asp-controller="Aulas" asp-action="Index">
            <div class="col"><h3>Aulas</h3>  <img src="./assets/inicio/aula2.png" width="50" /></div>
        </a>
        <a asp-area="" asp-controller="Usuarios" asp-action="Index">
            <div class="col"> <h3>Usuarios</h3>  <img src="./assets/inicio/equipo.png" width="50" /></div>
        </a>
        
    </div>
</div>

<h1>Listado de Asistencia</h1>

<p>
    <a class="btn btn-sm m-1" asp-action="Create" title="Cargar asistencia">
        <img width="60px" src="~/assets/icons/boton-agregar.png" />
    </a>
    <a class="btn btn-sm m-1" asp-controller="Reporte" asp-action="Index" title="Reportes">
        <img width="60px" src="~/assets/icons/reporte-de-negocios.png" />
    </a>
</p>

<table id="tablas" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AsIngreso)                
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AsEgreso)                
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AsPresent)                
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Es)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AsCantHsRedondeo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>                
                <td>
                    @Html.DisplayFor(modelItem => item.AsIngreso)
                </td>
                <td>
                    @if (item.AsEgreso > item.AsIngreso)
                    {
                        @Html.DisplayFor(modelItem => item.AsEgreso)
                    }
                    else
                    {
                        <p class=""><em>Pendiente</em></p>
                    }                    
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AsPresent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Es.EsDescripcion) - 
                    @Html.DisplayFor(modelItem => item.Es.Tu.TuDescripcion) -
                    (@Html.DisplayFor(modelItem => item.Es.Us.UsDni)) 
                    @Html.DisplayFor(modelItem => item.Es.Us.UsApellido),
                    @Html.DisplayFor(modelItem => item.Es.Us.UsNombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AsCantHsRedondeo)
                </td>
                <td>
                    @if (item.AsEgreso > item.AsIngreso)
                    {
                        <span class="btn btn-sm">
                            <img width="18px" title="Finalizado" style="filter: grayscale(100%)" src="~/assets/icons/cronometro (1).png" />
                        </span>
                    }
                    else
                    {
                        <a class="btn btn-sm" asp-action="Edit" asp-route-id="@item.AsiId" title="Finalizar">
                            <img width="30px" src="~/assets/icons/cronometro (2).png" />
                        </a>
                    }                    
                </td>
            </tr>
        }
    </tbody>
</table>

<style>
    .offcanvas{
        width:200px;
    }
    a {
        text-decoration: none;
        color: black;
    }

    h3 {
        display: flex;
        font-size: larger;
        text-align: start;
        align-content: center;
        align-items: center;
    }

    .col {
        display: flex;
        margin-bottom: 20px;
        justify-content: space-between;
        align-items: center;
        width: 80px;
        flex-direction:column;
    }
</style>
