@model IEnumerable<Fundacion.Models.Asistencia>

@{
    ViewData["Title"] = "Asistencia";
}

<h1>Asistencia</h1>

<p>
    <a class="btn btn-secondary btn-sm" asp-action="Create">Crear Nueva Asistencia</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @* @Html.DisplayNameFor(model => model.AsIngreso)*@
                Ingreso
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.AsEgreso)*@
                Egreso
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.AsPresent)*@
                Presente
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.Es)*@
                Espacio
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AsIngreso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AsEgreso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AsPresent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Es.EsDescripcion)
                </td>
                <td>
                    <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@item.AsiId">Editar</a> |
                    <a class="btn btn-primary btn-sm" asp-action="Details" asp-route-id="@item.AsiId">Detalles</a> |
                    <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.AsiId">Eliminar</a> |
                </td>
            </tr>
        }
    </tbody>
</table>
