@model IEnumerable<Asistencia>

@{
    ViewData["Title"] = "Index";
}

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Fundacion</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Fundacion.styles.css" asp-append-version="true" />
</head>


<body style="overflow: hidden; background-color: white;">
    <h2 class="m-1">Reporte de asistencias</h2>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th scope="col">DNI</th>
                <th scope="col">Apellido y Nombre</th>
                <th scope="col">Cargo</th>
                <th scope="col">Ingreso</th>
                <th scope="col">Egreso</th>
                <th scope="col">Cantidad Horas</th>
                <th scope="col">Valor Hora</th>
                <th scope="col">Subtotal</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Es.Us.UsDni)</td>
                    <td>                        
                        @Html.DisplayFor(modelItem => item.Es.Us.UsApellido), 
                        @Html.DisplayFor(modelItem => item.Es.Us.UsNombre)
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.Es.Ca.CaDescripcion) @Html.DisplayFor(modelItem => item.Es.EsDescripcion)</td>                    
                    <td>@Html.DisplayFor(modelItem => item.AsIngreso)</td>
                    <td>@Html.DisplayFor(modelItem => item.AsEgreso)</td>
                    <td>@Html.DisplayFor(modelItem => item.AsCantHsRedondeo)</td>
                    <td>$ @Html.DisplayFor(modelItem => item.Es.Ca.CaValorHora)</td>
                    <td>$ @(item.Es.Ca.CaValorHora * item.AsCantHsRedondeo)</td>                    
                </tr>
            }
     
            <tr>
                <td colspan="7" class="text-right col-auto"><strong>Total:</strong></td>
                <td>
                    $ @Model.Sum(item => item.Es.Ca.CaValorHora * item.AsCantHsRedondeo)
                </td>
            </tr>
        </tbody>
    </table>    
</body>
</html>