@{
    ViewData["Title"] = "Index";
}

@model IEnumerable<Asistencia>

<head>
    <link rel="stylesheet" href="~/css/btn-volver/styles.css" />
</head>

<button class="" type="button" style="border:none;background-color:transparent;margin:20px;" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions" title="Menú"><img src="./assets/inicio/volver.png" width="40px" /></button>

<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Navegacion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <a asp-area="" asp-controller="Asistencias" asp-action="Index" class="visually-hidden">
            <div class="col col1"><h3>Asistencias</h3><img src="./assets/inicio/lista-de-verificacion.png" c /></div>
        </a>
        <a asp-area="" asp-controller="Turno" asp-action="Index">
            <div class="col"><h3>Turnos</h3><img src="./assets/inicio/turnos.png" width="64" /></div>
        </a>
        <a asp-area="" asp-controller="Categorias" asp-action="Index">
            <div class="col"> <h3>Categorias</h3> <img src="./assets/inicio/aplicacion.png" /></div>
        </a>
        <a asp-area="" asp-controller="Espacios" asp-action="Index">
            <div class="col"> <h3>Espacios</h3>  <img src="./assets/inicio/ruptura.png" /></div>
        </a>
        <a asp-area="" asp-controller="Roles" asp-action="Index">
            <div class="col"> <h3>Roles</h3> <img src="./assets/inicio/roles.png" /></div>
        </a>
        <a asp-area="" asp-controller="Aulas" asp-action="Index">
            <div class="col"><h3>Aulas</h3>  <img src="./assets/inicio/aula.png" /></div>
        </a>
        <a asp-area="" asp-controller="Usuarios" asp-action="Index">
            <div class="col"> <h3>Usuarios</h3>  <img src="./assets/inicio/grupo.png" /></div>
        </a>

    </div>
</div>

<br />
@*< h1>Asistencia</h1> *@

<div class="card mt-2">
    <div class="card-header">
        <h6 class="card-title">Exportar Reporte</h6>
    </div>
    <div class="card-body">
        <div class="flex-column align-items-center justify-content-center">
            <div class="col-14 col-md-auto">
                @using (Html.BeginForm("ExportToExcel", "Reporte", FormMethod.Post))
                {
                    <div class="form-group">
                        <div class="input-group">   
                             <select class="form-control form-control-sm form-select m-1" style="height: 24px" id="mes" name="mes">
                                <option value="0" style="font-style: italic">Seleccione un mes...</option>
                                <option value="1">Enero</option>
                                <option value="2">Febrero</option>
                                <option value="3">Marzo</option>
                                <option value="4">Abril</option>
                                <option value="5">Mayo</option>
                                <option value="6">Junio</option>
                                <option value="7">Julio</option>
                                <option value="8">Agosto</option>
                                <option value="9">Septiembre</option>
                                <option value="10">Octubre</option>
                                <option value="11">Noviembre</option>
                                <option value="12">Diciembre</option>
                            </select>
                            <select class="form-control form-control-sm form-select m-1" style="height: 24px" id="year" name="year">
                                <option value="0" style="font-style: italic">Seleccione el Año...</option>
                                <option value="2023">2023</option>
                                <option value="2024">2024</option>
                                <option value="2025">2025</option>
                                <option value="2026">2026</option>
                                <option value="2027">2027</option>
                                <option value="2028">2028</option>
                                <option value="2029">2029</option>
                                <option value="2030">2030</option>
                            </select>
                            <select class="form-control form-control-sm form-select m-1" style="height: 24px" id="categoria" name="categoria">
                                <option value="0" style="font-style: italic">Seleccione una categoría...</option>
                                @foreach (var categoria in ViewBag.Categorias)
                                {
                                    <option value="@categoria.Value">@categoria.Text</option>
                                }
                            </select>
                            <input type="hidden" id="categoriaSeleccionada" name="idcategoria" value="">
                            <div class="input-group-append">
                                <button class="btn btn-outline-success btn-sm m-1" type="submit" onclick="setCategoriaSeleccionada()">
                                    Exportar
                                    <img src="~/assets/icons/excel-icon.png" alt="Exportar Excel" style="height: 24px;" />
                                </button>
                                <button class="btn btn-outline-danger btn-sm m-1" asp-controller="Reporte" asp-action="ImprimirPDF" onclick="setCategoriaSeleccionada()" formtarget="_blank">
                                    Imprimir
                                    <img src="~/assets/icons/pdf-icon.png" alt="Imprimir PDF" style="height: 24px;" />
                                </button>
                            </div>
                        </div>
                    </div>
                }               
            </div>
        </div>
    </div>
</div>

<br />
<h6>Reporte de Asistencias</h6>
<table id="tablas" class="table">
    <thead>
        <tr>
            <th scope="col">DNI</th>
            <th scope="col">Apellido y Nombre</th>
            <th scope="col">Cargo</th>
            <th scope="col">Ingreso</th>
            <th scope="col">Egreso</th>
            <th scope="col">Cantidad Horas</th>
            <th scope="col">Valor Hora</th>
            <th scope="col">Subtotal</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Es.Us.UsDni)</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Es.Us.UsApellido),
                    @Html.DisplayFor(modelItem => item.Es.Us.UsNombre)
                </td>
                <td>@Html.DisplayFor(modelItem => item.Es.Ca.CaDescripcion) @Html.DisplayFor(modelItem => item.Es.EsDescripcion)</td>
                <td>@Html.DisplayFor(modelItem => item.AsIngreso)</td>
                <td>@Html.DisplayFor(modelItem => item.AsEgreso)</td>
                <td>@Html.DisplayFor(modelItem => item.AsCantHsRedondeo)</td>
                <td>$ @Html.DisplayFor(modelItem => item.Es.Ca.CaValorHora)</td>
                <td>$ @(item.Es.Ca.CaValorHora * item.AsCantHsRedondeo)</td>
            </tr>
        }
    </tbody>
</table>